:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria_1: #94A3B8;
    --cor-terciaria_2:#334155;
    --cor-terciaria_3: #F1F5F9;
    --cor-terciaria_4: #0F172A;
    --cor-terciaria_5: #7C3AED;
    --cor-terciaria_6: #334155;
    --cor-terciaria_7:#94A3B8;

    --fonte-principal: 'roboto', sans-serif 

    
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 98vw;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    background-color: var(--cor-terciaria_3);
}

header {
    background-color: var(--cor-secundaria);
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem ;
    align-items: baseline;
}

.menu__texto {

    font-size: 24px;
    font-weight: 700;
}

.links a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    padding-left: 1rem;
}

.links__botao {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    background-color: var(--cor-terciaria_4);
    padding: 0.5rem 2.5rem;
    border: solid var(--cor-primaria) 0.05rem;
    border-radius: 5px;
}

.titulo__principal {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    padding: 2rem 0;
}

.best__value {
    padding-bottom: 2rem;
}

.best__value__paragrafo {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 0 8rem 2rem ;
}

.best__value__botao {
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin: auto;
    padding: 1em 3em;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria_5);
    border: none;
    border-radius: 0.25em;  
}

.best__value__espaco {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.best__value__espaco__bola {
    margin-top: 2rem;
    width: 70vw;
    height: 40vh;
    background-color: #F6F6F6;
    border: 0.05rem solid var(--cor-terciaria_1);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding: 10px;

}

.bola1 {
    height: 12px;
    width: 12px;
    background-color: #F6F6F6;
    border-radius: 50%;
    border: solid var(--cor-terciaria_1) 0.025rem;
    display: inline-block;
}

.bola2 {
    height: 12px;
    width: 12px;
    background-color: #F6F6F6;
    border-radius: 50%;
    border: solid var(--cor-terciaria_1) 0.025rem;
    display: inline-block;
    
}
.bola3 {
    height: 12px;
    width: 12px;
    background-color: #F6F6F6;
    border-radius: 50%;
    border: solid var(--cor-terciaria_1) 0.025rem;
    display: inline-block;
}

.best__value__secundaria {
    width: 98vw;
}

.titulo__secundario {
    color: var(--cor-terciaria_4);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 2rem 0
}

.best__value__secundaria__paragrafo {
    color: var(--cor-terciaria_4);
    font-size: 18px;
    text-align: center;
    padding: 0 8rem 4rem ;
}

.best__value__secundaria__quadrados {
    display: flex;
    justify-content: center;
    color: var(--cor-terciaria_4);
    font-size: 24px;
    font-weight: 400;
    gap: 30px;
    padding-bottom: 6rem;
}

.best__value__espaco__quadrado1 {
    height: 370px;
    width: 370px;
    background-color: var(--cor-terciaria_1);
}

.best__value__espaco__quadrado2 {
    height: 370px;
    width: 370px;
    background-color: var(--cor-terciaria_1);
}

.best__value__espaco__quadrado3 {
    height: 370px;
    width: 370px;
    background-color: var(--cor-terciaria_1);
}

.best__value__quadrado1__texto {
    padding: 1.5rem 0 0.5rem 0;
}

.best__value__quadrado1__leia__mais {
    font-size: 14px;
    flex-direction: column;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    border: none;
}


h3 {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--cor-terciaria_6);
}

.formulario__email input {
    width: 22.5rem;
    color: var(--cor-terciaria_7);
    font-size: 20px;
    font-weight: 400;
    border: solid 1px var(--cor-terciaria_7);
    border-radius: 0.3125rem;
}

.formulario__senha input {
    width: 22.5rem;
    color: var(--cor-terciaria_7);
    font-size: 20px;
    font-weight: 400;
    border: solid 1px var(--cor-terciaria_7);
    border-radius: 0.3125rem;
}

.links__botao__getstarted {
    width: 22.5rem;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 1em 0;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria_5);
    border: none;
    border-radius: 0.3125rem;
    margin: auto;
}
